.inputPanel {
    display: flex;
    flex-direction: column;
}

.inputField {
    padding: 5px;
}


.inputBox {
    margin: 15px;
}

.fieldName {
    font-size: large;
    font-weight: bold;
}

.test {
    display: flex;
    flex-direction: row;
}